/* GENERAL */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(224, 234, 242);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* DATE PICKERS */
.date_picker fieldset{
  border-color: rgb(33, 37, 41);
}

.date_picker label{
  color: rgb(33, 37, 41);
}

.date_picker .MuiInputBase-root{
  background-color: white;
  width: 162px;
}